<app-header></app-header>

<div class="container">
  <div class="content">
    <div>
      <ul *ngIf="patient">
        <li>
          <label>Nom :</label>
          <div class="identity">{{patient.lastName}}</div>
        </li>
        <li>
          <label>Prénom :</label>
          <div class="identity">{{patient.firstName}}</div>
        </li>
        <li>
          <label>Âge :</label>
          <div class="identity">{{patient.age}}</div>
        </li>
        <li>
          <label>Sexe :</label>
          <div class="identity">{{patient.gender}}</div>
        </li>
        <li>
          <label>Adresse :</label>
          <div class="identity">{{patient.address}}</div>
        </li>
        <li>
          <label>Téléphone :</label>
          <div class="identity">{{patient.phone}}</div>
        </li>
        <li>
          <label>Diagnostic :</label>
          <div class="identity">{{patient.diagnostic}}</div>
        </li>
      </ul>
      <div class="button_list">
        <button type="button" routerLink="/patients/consultation/{{patient.id}}/update">Modifier</button>
        <button type="button" (click)="deletePatient()">Supprimer</button>
      </div>
    </div>
  </div>
  <app-note-list [patient]="patient" (patientDataChanged)="refreshPatient()" ></app-note-list>
</div>
