<app-header></app-header>
<div *ngIf="patientList.length==0" style="text-align:center">Aucun patient enregistré</div>
<table class="patientList" *ngIf="patientList.length>0">
  <th>Prénom</th>
  <th>Nom</th>
  <th>Date de naissance</th>
  <th>Adresse</th>
  <th>Action</th>

  <tr *ngFor="let patient of patientList">
    <td>{{patient.firstName | uppercase}}</td>
    <td>{{patient.lastName | uppercase}}</td>
    <td>{{patient.dateOfBirth}}</td>
    <td>{{patient.address}}</td>

    <td>
      <fa-icon [icon]="getIcon" class="action read" routerLink="/patients/consultation/{{patient.id}}"></fa-icon>
      <fa-icon [icon]="updateIcon" class="action update" routerLink="/patients/consultation/{{patient.id}}/update"></fa-icon>
      <fa-icon [icon]="deleteIcon" class="action delete" (click)="deletePatient(patient.id)"></fa-icon>
    </td>
  </tr>
</table>


