table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 50px;
  border-collapse: collapse;
}

th{
  padding-bottom: 20px;
  font-size: 1.5em;
}

tr{
  background-color: #e7eeeb;
}

td {
  padding: 10px;
  border-top: solid;
  border-bottom: solid;
  border-color: coral;

  text-align: center;
  font-size: 1em;
}

.action{
  padding-right: 30px;
  padding-left: 30px;
}

.read{
  color: #69c00c
}

.delete{
  color: #ff3d49
}

.update{
  color: #c0761c;
}

.action:hover{
  color: black;
}
